* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
nav {
  background: white;
  height: 100px;
  width: 100%;
}
nav .nav-option {
  position: relative;
  max-width: 1440px;
  padding: 0px 30px;
  height: 80px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
label.logo img {
  width: 45%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #424247;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,
a:hover {
  color: #ff5400;
  transition: 0.5s;
}
.checkbtn {
  display: none;
  font-size: 30px;
  color: #424247;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
#check {
  display: none;
}

/* banner-container */

.header {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  padding-left: 30px;
}

.header h1.nav-title {
  font-size: 40px;
  margin-right: 560px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(228, 92, 7);
  color: white;
}

.header-right {
  float: right;
}

/* header banner part */

.header {
  width: 100%;
  height: auto;
}

.image-container {
  width: 1320px;
  display: block;
  margin: 10px auto;
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 0px;
}

.image-greet {
  text-align: center;
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 20px;
}
.image-text {
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.form-site {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 60%;
  margin-left: 250px;
  margin-top: 50px;
  padding: 16px;
  gap: 24px;
}

.form-site input {
  border-radius: 8px;
  background: #fff;
  padding: 10px;
  gap: 5px;
  border: none;
}

.form-site .btn-header {
  border-radius: 8px;
  background: #ff5400;
}

.form-site .btn-header::placeholder {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
}

.form-site i {
  color: #ffffff;
  position: absolute;
  top: 370px;
  transform: translateX(-190%);
}

.form-site .btn-header i {
  color: #ffffff;
}

/* popular tour section */
#popular-section {
  max-width: 1440px;
  margin: 0 auto;
}
.popular {
  display: flex;
  background: #fff;
  margin-top: 100px;
  padding: 100px 50px;
  gap: 100px;
}

.popular-section {
  width: 50%;
}

.section-title {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.section-description li {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.btn-primary {
  border-radius: 8px;
  background: #ff5400;
  font-size: 20px;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.popular-section img {
  height: 100%;
}
/* destination */

#destination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

.choose {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.choose h3 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.choose-container {
  max-width: 1440px;
  margin: 0 auto;
}

.centered-1 {
  position: absolute;
  top: 200%;
  left: 28%;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.centered-2 {
  position: absolute;
  top: 200%;
  left: 65%;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.centered-3 {
  position: absolute;
  top: 250%;
  left: 22%;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.centered-4 {
  position: absolute;
  top: 250%;
  left: 44%;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}

.centered-5 {
  position: absolute;
  top: 250%;
  left: 70%;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}

.centered-6 {
  position: absolute;
  top: 300%;
  left: 25%;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.centered-7 {
  position: absolute;
  top: 300%;
  left: 65%;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

img {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.row-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  row-gap: 10px;
  margin-bottom: 10px;
  gap: 15px;
}

.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-bottom: 10px;
}

/* Why Choose Us * */

#why-choose-us {
  padding-top: 100px;
  padding-bottom: 100px;
}
.why-container {
  max-width: 1440px;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 100px;
}

.why-container img {
  width: 50px;
  height: 50px;
}
.why {
  height: 250px;
  padding: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.why-1 {
  height: 250px;
  padding: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.why-special-why {
  position: absolute;
  margin-top: 280px;
  width: 40%;
  height: 250px;
  flex-shrink: 0;
  /* width: 50%; */
  margin-left: 220px;
  padding: 50px;

  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* Review css */
#review {
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: 1440px;
  height: 800px;
  margin: auto;
}
.review-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section-title {
  text-align: center;
  position: relative;
}
.section-title h1 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.section-title p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  
}
.reviews-container {
  max-width: 1440px;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px;
  grid-template-columns: repeat(2, 2fr);
}

.reviews-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.reviews{
  height: 250px;
  padding: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(134, 72, 1, 0.342);
  background: rgba(18, 2, 61, 0.05);
}

.reviews-2 {
  height: 250px;
  padding: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(31, 69, 78, 0.2);
  background: rgba(2, 71, 42, 0.05);
}
.reviews-4{
  height: 250px;
  padding: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(56, 30, 1, 0.466);
  background: rgba(110, 42, 3, 0.288);
}

.reviews-3 {
  height: 250px;
  padding: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(19, 19, 24, 0.05);
}







/* newsletter css */

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  /* padding: 100px 150px; */
  
}

.newsletter-section input[type="text"],
.newsletter-section input[type="email"] {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 100%;
  background: rgba(19, 19, 24, 0.05);
}

.newsletter-section input[type="submit"] {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  border-radius: 5px;
  border: 0;
  width: 100%;
}
.newsletter-section {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 20px 40px;
}
.newsletter-section-img {
  position: relative;
  width: 672px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(../Images/Rectangle-12.png), lightgray 50% / cover no-repeat;
}
.newsletter-section-img img {
  width: 100%;
  height: 100%;
}
.news-text-option {
  border-radius: 16px;
  background: #ff5400;
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 280px;
  height: 120px;
  transform: rotate(-36.628deg);
  flex-shrink: 0;
  padding-top: 20px;
  margin-top: 235px;
  float: right;
}
.news-text-option h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.news-text-option h4 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* footer  */
#footer {
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-items {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}
.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -70px;
}
.footer-items img {
  width: 50%;
  height: auto;
}
.footer-items p {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.social-icons {
  width: 1240px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #131318;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 24px 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #131318;
  padding: 20px;
  border-radius: 50%;
}
.socials a i {
  font-size: 28px;
  width: 28px;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #ff5400;
}
.foo-last-text {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
  padding-top: 20px;
}
